@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body{
  margin-top: 40px;
  background-color: black;
  font-family: cursive;
}
.container{
  padding:5px;
  border-radius:0px;
  background-color:white;
  font-family: 'Amatic SC';
}
i
{
  margin:20px;
  color: black;
}