@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  background: #050B11;
  color: #B7CECE;
  font-family: Open Sans;
}
nav.navbar-default{
  margin:0px; 
  border: 0px;
  background: rgb(183,206,206);
}
button.navbar-btn
 {
  background: #B7CECE;
  border: 0px;
  color: #050B11;
}

.jumbotron{
   padding-top: 5px;
   background: #050B11;
   margin: 0px;
}
#About{
  padding-top:50px;
}
#Portfolio
{
  background: #272330;
}
#PorfolioTrue
{
  position: relative;
  top: -20px;
}

hr
{
  border-color: #B7CECE;
}
i
{
  margin: 5px;
}
.placeholder
{
  width: 400px;
  height: 400px;
  background: #B7CECE;
}

.col > .thumbnail {
  color:  #B7CECE;
  border: 1px;
}